page-configuracoes {
    @font-face {
        font-family: Souliyo-Unicode;
        src: url(../www/assets/fonts/Souliyo-Unicode.ttf)
    }
    body{ 
        left: 0%; 
        font-family: 'Souliyo-Unicode', sans-serif;
    }
    .titulo-pagina{
        color: #47525E;
        text-align: center;
        font-size: 12pt;
        font-weight: 900;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        margin-top: 43px;
        margin-left: 2px;
        text-transform: uppercase;
    }
    img{
        width: 35px;
        height: 32px;
        margin-top: 10%;
    }
    .primeira-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #div-config{
        width: 104%;
        height: 38%;
        margin-top: 27px;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
    .label-home{
        font-weight: 600;
        font-size: 12px;
        color: #47525E;
        margin-bottom: 1px;
        text-transform: uppercase;
        padding-left: 20px;
    }
    ion-item{
        border: 1px solid #53CED3 !important;
        border-radius: 50pt !important;
        width: 200pt !important;
        height: 30pt !important;
        background-color: rgba(233, 233, 233, 0.62) !important;
    }
    .campos{
        margin-bottom: 20px;
    }
    .botoes{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 900;
        font-family: roboto;
        font-size: 15px;
        text-transform: uppercase;
        box-shadow: none !important;
    }
    .botao-salvar{
        background-color: #53CED3;
        color: black;
        margin-top: 50px;
        width: 110px;
        height: 47px;
        border-radius: 50pt !important;
    }
    .botao-cancelar{
        color: white;
        background-color: #53D35B;
        margin-top: 26px;
        width: 100px;
        height: 40px;
        border-radius: 50pt !important;
    }
}
