<ion-content>
  <ion-header>
    <button class="menu" ion-button (click)="dash()">
      <ion-avatar style="font-size: 25px; background-color: #53D35B; border-radius: 50pt; padding: 7px 10px; margin-bottom: 6px;">
        <ion-icon name="ios-map-outline"></ion-icon>
      </ion-avatar>
    </button>

    <ion-searchbar placeholder="Digite o nome da vacina" (ionInput)="getCity($event)" #searchQuery></ion-searchbar>
      <ion-list [hidden]= hiddenCidades>
        <button (click)="something(c)" ion-item *ngFor="let c of cidades">
          <ion-option *ngFor="let c of vacinaSelect" [value] = "c.id_vacina" >{{ c.nome_vacina }}</ion-option>
        </button>
      </ion-list> 

      <button class="menu" (click)="perfil()" ion-button>
        <ion-avatar style="font-size: 30px; color: black;">
          <ion-icon name="ios-contact"></ion-icon>
        </ion-avatar>
      </button>
  </ion-header>

  <ion-grid>
    <div class="content">
      
      <h1>Minhas Vacinas</h1>
      <ion-row justify-content-end>
        <button class="adc-vacina" (click)="ModalVacina()" ion-button>
          <ion-icon class="addvacina" name="add-circle"></ion-icon>
        </button>
      </ion-row>

      <!-- Lista de vacinas cadastradas -->
      <ion-row justify-content-center>
        <ion-list *ngFor="let vacina of vacinas" >
          <ion-card class="minhavacina">
            <ion-card-header>
              <p class="p-card">{{ vacina.vacina }}</p>
            </ion-card-header>
            <ion-card-content>
              <ion-label style="margin-bottom: 9px;"> Data: {{ vacina.data_vacina }} </ion-label>
              <ion-label style="margin-top: -5px;"> Lote: {{ vacina.local }} </ion-label>
            </ion-card-content>
            <ion-row text-right [hidden]= hiddenCardVacinas>
              <ion-col>
                <button class="botao-editar" ion-button icon-left clear small (click)="editContact(vacina);">
                  <ion-icon class="icone-editar" name="md-create"></ion-icon>
                </button>
                <button class="btn-2" ion-button icon-left clear small (click)="doDELETE(vacina);">
                  <ion-icon class="icon-btn" name="ios-trash"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-list>
      </ion-row>

    </div>
  </ion-grid>
  
</ion-content>