page-vacinas {
    @font-face {
        font-family: Souliyo-Unicode;
        src: url(../www/assets/fonts/Souliyo-Unicode.ttf)
      }
    ion-header{
        background-color: white;
        background-size: cover;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
    }
    .menu{
        background: transparent;
        box-shadow: none;
        height: 49px;
    }
    #label-menu{
        font-size: 11px;
        text-transform: capitalize;
        margin-left: -8px;
        color: #FFFFFF;
    }
    ion-label{
        color: #47525E;
        letter-spacing: 1px;
        margin-left: 10px;
        margin-bottom: 1px;
        text-transform: uppercase;
    }
    ion-content{
        font-family: 'Souliyo-Unicode', sans-serif;
        background-color: white;
    }
    h1{
        color: rgba(71, 82, 94, 0.53);
        font-size: 10px;
        font-weight: bold;
        margin-top: 51px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
    .minhavacina{
        background: #53CED3;
        width: 330px;
        height: 90px;
        border-radius: 3px;
        margin-top: 0px;
        box-shadow: none !important;
    }
    .p-card{
        font-size: 15px;
        color: white;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    .row{
        -webkit-box-pack: center !important;
        -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    .button-md{
        -webkit-box-shadow: transparent !important;
        box-shadow: transparent !important;
    }
    .btn-vacinas{
        background-color: transparent;
    }
    .btn-nv-vacinas{
        margin-top: 10px;
        height: 30px;
        width: 110px;
        font-size: 13px;
        margin-left: 25px;
        background-color: white;
        font-family: Roboto;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        text-transform: inherit;
    }
    .addvacina{
        color: #53CED3;
        font-size: 30px;
    }
    .adc-vacina{
        background-color: transparent !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
    }
    ion-card-content {
        margin-top: -23px;
        margin-left: -15px;
    }
    ion-card-header {
        margin-top: -12px;
        margin-left: -10px;
    }
    .vacinas{
        width: 95%;
        border-radius: 50pt;
        margin-bottom: 15px;
    }
    ion-datetime{
        background-color: #DBDBDB;
        border-radius: 50pt;
        width: 95%;
        height: 30px;
        border: 1px solid #02AEB4;
        padding: 7px 10px;
    }
    .date-time-md, .datetime-placeholder{
        width: calc((100% - 8px) - 8px);
        margin: 5px !important;
        padding: 0px !important;
    }
    .searchbar-md{
        right: 7px;
    }
    .searchbar-input{
        padding: 6px 48px !important;
    }
    ion-input{
        background-color: #DBDBDB;
        border-radius: 50pt;
        width: 95%;
        height: 30px;
    }
    button{
        box-shadow: none;
    }
    .text-input-md{
        margin: 0px !important;
        padding: 6px 8px;
    }
    .botao-editar{
        position: absolute;
        background-color: white;
        color: #53CED3;
        padding: 5px;
        font-size: 12px;
        bottom: 83px;
        left: 258px;
        border-radius: 7px;
    }
    .botao-excluir{
        position: absolute;
        background-color: #F95F62;
        color: white;
        bottom: 82px;
        left: 290px;
        padding: 5px;
        border-radius: 7px;
    }
    .icone-excluir{
        padding: 3px;
    }
    .icone-editar{
        padding: 1px;
    }
    .searchbar-input{
        padding: 6px 42px;
        border-radius: 50pt !important;
        font-size: 12px !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #53CED3;
    }
    .imagem-header{
        max-width: 100%;
        border: 0;
        width: 50px;
        height: 50px;
        border-radius: 50pt;
        position: relative;
        right: 4px;
    }
}
